body {
    background-image: url('images/1.jpg');
    text-align: center;
}

#container{
    margin-top:200px;
    border: 2px solid white;
    margin-left:400px;
    margin-right:400px;
    padding: 25px 25px 25px 25px;
    
}
#form_container{
    
    padding: 15px 15px 15px 15px;
    
}
#form_footer{
    padding: 15px 15px 15px 15px;
}

#login_success, #login_falied{
        width:100%;
    }
    #email_label{
        margin-right: 62px;
        color: white;
    }
    #password_label{
        margin-right: 40px;
        color: white;
    }
    #email_div{
        padding-top : 20px;
        padding-bottom: 20px;
        text-align: left;
    }
    #password_div{
        
        text-align: left;
    }
